<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>南发公司国有资产审批统计平台</title>
    <script src="js/jquery-3.5.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>


</head>
<body>
<!--<div th:replace="~{navagation :: navagation}"></div>-->
<div class="container-fluid main">

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="jumbotron">
                <div class="container-fluid">
                    <h1 class="text-center bg-primary">欢迎使用南发公司国有资产审批统计平台</h1>
                    <h3 class="text-center">请先登录：</h3>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4 center-block"></div>
            <div class="col-sm-3 col-lg-3 col-xs-3 col-md-3 center-block">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="username">用户名：</label>
                        <input type="text" class="form-control" id="username" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password"
                               placeholder="请输入密码">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">登录</button>
                </form>
            </div>
            <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4 center-block"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>