<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>南发公司国有资产审批统计平台</title>
    <script src="/js/jquery-3.5.1.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>


</head>
<div th:fragment="navgation">
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="" th:href="@{/main}">主页</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ><a href="#">统计</a></li>
                <li><a href="#">申请和审批</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        查询与统计 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">调动申请审批痕迹查询</a></li>
                        <li><a href="#">按楼盘统计</a></li>
                        <li><a href="#">调转明细</a></li>
                        <li class="divider"></li>
                        <li><a href="#">财务明细</a></li>
                        <li class="divider"></li>
                        <li><a href="/list">安置房明细</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"  th:text="${session.user.username}"></a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
</html>